{{!-- Styles for Calendar --}}
<style>
 body {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  }

  .nav-link , .navbar-brand{ 
    color: #f4f4f4; 
    cursor: pointer;
    }
  .nav-link{ 
    margin-right: 1em !important;
  }
  .nav-link:hover{ 
    background: #f4f4f4; 
    color: #f97300; 
  }
  .navbar-collapse{ 
    justify-content: flex-end;
  }
  .navbar-toggler{  
    background:#fff !important;
  }
  .header{
    background-image: url('../images/download.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
  }
  .description{
    top: 30%;
    margin: auto;
    padding: 2em;
  }
  .description h1{
    color: #F97300;
  }
  .description p{
    color: #fff;
    font-size: 20px;
    width: 50;
    line-height: 1.5;
  }
  .description button{
    border: 1px solid #F97300;
    background: #F97300;
    color:#fff;
  }
  .body{
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  }
  #calendar{
    width: 650px;
    margin: 0 auto;
    background-color: #36454f;
  }
  .team{
    margin: 4em 0;
    position: relative;
    color: #F97300;
    margin: 2em;
  }
  .team .item{
    position: relative;
  }
  .team .des{
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition: .3s ease-in-out;

 #calendar {
  width: 650px;
  margin: 0 auto;

  }
</style>

{{!-- These are the scripts --}}
<script>
 $(document).ready(function() {
  var date = new Date();
  var d = date.getDate();
  var m = date.getMonth();
  var y = date.getFullYear();
  var calendar = $('#calendar').fullCalendar({
   editable: true,
   header: {
    left: 'prev,next today',
    center: 'title',
    right: 'month,agendaWeek,agendaDay'
   },


   events: "events.php",

   eventRender: function(event, element, view) {
    if (event.allDay === 'true') {
     event.allDay = true;
    } else {
     event.allDay = false;
    }
   },
   selectable: true,
   selectHelper: true,
   select: function(start, end, allDay) {
   var title = prompt('Event Title:');

   if (title) {
   var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
   var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
   $.ajax({
	   url: '/api/events',
	   data: 'title='+ title+'&start='+ start +'&end='+ end,
	   type: "POST",
	   success: function(json) {
       //See what comes back from the route
       console.log(json);
	   alert('Added Successfully');
	   }
   });
   calendar.fullCalendar('renderEvent',
   {
	   title: title,
	   start: start,
	   end: end,
	   allDay: allDay
   },
   true
   );
   }
   calendar.fullCalendar('unselect');
   },


   editable: true,
   eventDrop: function(event, delta) {
   var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
   var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
   $.ajax({
	   url: 'update_events.php',
	   data: 'title='+ event.title+'&start='+ start +'&end='+ end +'&id='+ event.id ,
	   type: "POST",
	   success: function(json) {
	    alert("Updated Successfully");
	   }
   });
   },
   eventClick: function(event) {
	var decision = confirm("Do you really want to do delete that?"); 
	if (decision) {
	$.ajax({
		type: "POST",
		url: "delete_event.php",
		data: "&id=" + event.id,
		 success: function(json) {
			 $('#calendar').fullCalendar('removeEvents', event.id);
			  alert("Updated Successfully");}
	});
	}
  	},
   eventResize: function(event) {
	   var start = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");
	   var end = $.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");
	   $.ajax({
	    url: 'update_events.php',
	    data: 'title='+ event.title+'&start='+ start +'&end='+ end +'&id='+ event.id ,
	    type: "POST",
	    success: function(json) {
	     alert("Updated Successfully");
	    }
	   });
	}
   
  });
  
 });
</script>



<!-- navbar -->
<nav class="navbar navbar-expand-lg fixed-top ">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-4">
      <li class="nav-item">
        <a class="nav-link" data-value="about" href="#">About</a> </li>
      <li class="nav-item">
        <a class="nav-link " data-value="portfolio" href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-value="blog" href="#">Blog</a> </li>
      <li class="nav-item">
        <a class="nav-link " data-value="team" href="#"> Team</a> </li>
      <li class="nav-item">
        <a class="nav-link " data-value="contact" href="#">Contact</a> </li>
    </ul>
  </div>
</nav>

<header class="header">
  <div class="container">
    <div class="description">
      <h1>Hello, Welcome to EventMe!</h1>
      <p>Finding something to do has never been easier</p>
      <button class="btn btn-outline-secondary btn-lg">Start Here</button>
    </div>
  </div>
</header>

<!-- Team section -->
<div class="team">
  <div class="container">
    <h1 class="text-center">Our Team</h1>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 item">
        <img src="images/team-2.jpg" class="img-fluid" alt="team">
        <div class="des">
          Justin
        </div>
        <span class="text-muted">Manager</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
        <img src="images/team-3.jpg" class="img-fluid" alt="team">
        <div class="des">
          Carlo
        </div>
        <span class="text-muted">S.enginner</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
        <img src="images/team-2.jpg" class="img-fluid" alt="team">
        <div class="des">
          Mirage
        </div>
        <span class="text-muted">Front End Developer</span>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Find My Event!!</h1>  
  </div>
</div>
 <br/>
 <p>
   GLAD YOU COULD JOIN US! THIS WEBSITE WILL HELP SOLVE ALL YOUR NEEDS IN PLANNING A LOCAL EVENT.
  ITS NICE AND EASY AND LETS PEOPLE KNOW WHAT EVENTS ARE GOING ON AROUND THEM. 
  WHETHER ITS CONCERTS, BAR OPENING, OR EVEN AS LITTLE AS A BIRTHDAY PARTY. 
  COME JOIN US IN MAKING FIND MY EVENT HUGE!!!!
  </p>

