<section id="search" class="search-wrap">
    <h1>Search Events</h1>
    <form action="gigs.html" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Corporate, Social, Local, etc...">
      <input type="submit" value="Search">
    </form>
  </section>