<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Find My Event!!</h1>  
  </div>
</div>
 <br/>
 <p>
   GLAD YOU COULD JOIN US! THIS WEBSITE WILL HELP SOLVE ALL YOUR NEEDS IN PLANNING A LOCAL EVENT.
  ITS NICE AND EASY AND LETS PEOPLE KNOW WHAT EVENTS ARE GOING ON AROUND THEM. 
  WHETHER ITS CONCERTS, BAR OPENING, OR EVEN AS LITTLE AS A BIRTHDAY PARTY. 
  COME JOIN US IN MAKING FIND MY EVENT HUGE!!!!
  </p>